@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --even-darker-cyan: hsl(158, 36%, 25%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
}
body {
  background-color: var(--cream);
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.flex-container {
  display: flex;
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}
.ff-fraunces {
  font-family: var(--ff-fraunces);
}
.card-text {
  padding: 1.25rem 1.5rem;
}
main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#prices {
  padding: 0.5rem 0;
  align-items: center;
}
#old-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: 0.8rem;
}
#current-price {
  margin-right: 0.75rem;
  color: var(--dark-cyan);
  font-size: 1.5rem;
}
#card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.5rem;
}
#product-img {
  min-height: 12.5rem;
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
#product-category {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.25rem;
  margin-bottom: 0.5rem;
}
#product-name {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
}
#product-description {
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}
.btn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-cyan);
  color: white;
  padding: 1rem;
  justify-content: center;
}
.btn:hover,
.btn:active {
  background-color: var(--even-darker-cyan);
}
#cart-icon {
  margin-right: 1rem;
}
