@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --even-darker-cyan: hsl(158, 36%, 25%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-size: 14px;
}
body {
  background-color: var(--cream);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.flex-container {
  display: flex;
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}
.ff-fraunces {
  font-family: var(--ff-fraunces);
}
.card-text {
  padding: 1rem;
}
#card {
  flex-direction: column;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.5rem;
}
#product-img {
  min-height: 10rem;
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
#product-category {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.25rem;
  margin-bottom: 0.5rem;
}
#product-name {
  color: var(--very-dark-blue);
  font-size: 2rem;
}
#product-description {
  margin: 0.5rem 0;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}
